
.cardHolder {
display: flex;
justify-content:  space-evenly;
align-items: center;
}

.card {
  border: 1px solid #000;
  width: 25%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding:3%;
}